*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* list-style: none; */
    box-sizing: border-box;
    font-family: Playfair Display;
}
nav{
    background-color: rgba(26, 19, 17, 0.5);
    position: fixed;
    top: 0;
    width: 1360px;
}
.menu-toggle{
    display: none;
}
.menu-icon{
    display: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 25px;
    color: white;
}
#Bean{
    margin-left: 90px;
    font-family: Clicker Script;
    font-size: 35px;
    font-weight: 400;
    color: white;
}
nav ul li a{
    color: white;
    transition: transform 2s ease;
}
nav ul li a:hover{
    transform: underline;
    color: #0056b3;
    text-decoration: underline;
}
header{
    background-image: url(./image/coffee_image.png);
    background-size: cover;
    height: 820px;
    margin-top: -8px;
}
#Home{
    margin-left: 150px;
}
#sign-in{
    margin-left: 140px;
}
#sign-up{
    width: 80px;
    border-radius: 24px;
    height: 40px;
    background-color: #F9C06A;
    color: black;
    padding: 10px 20px;
}
#first-pre{
    margin-top: 90px;
    font-family: Playfair Display;
    color: white;
    margin-left: 120px;
}
#coffee{
    font-size: 220px;
    font-family: Clicker Script;
}
#pre-p{
    line-height: 34px;
}
#order{
    border-radius: 24px;
    margin-left: 120px;
    background-color: #F9C06A;
    padding: 10px 10px;
    border: none;
    font-weight: 700;
    font-size: 16px;
}
#discover{
    margin-left: 120px;
    font-family: Playfair Display;
    font-size: 54px;
    font-weight: 700px;
    line-height: 71.98px;
    color: #603809;
    margin-top: 100px;
}
#bean{
    margin-left: 120px;
    font-weight: 400px;
    font-size: 20px;
    color: #707070;
    line-height: 34px;

}
#bean-bag{
    margin-left: 800px;
    margin-top: -400px;
}
#learn{
    border-radius: 24px;
    margin-left: 120px;
    background-color: #F9C06A;
    padding: 10px 10px;
    border: none;
    font-weight: 700;
    font-size: 16px;
}
#blend{
font-family: Playfair Display;
font-size: 54px;
font-weight: 700;
line-height: 71.98px;
text-align: center;
color: #603809;
}
#sub-blend{
font-family: Playfair Display;
font-size: 20px;
font-weight: 400;
line-height: 94px;
text-align: center;
color: #707070;
}
.Cards{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 90px;
}
.Card{
    background-color: rgba(249, 192, 106, 0.4);
    height: 360px;
    border-color: rgba(249, 192, 106, 0.4);
    border: 1px solid  rgba(249, 192, 106, 0.4);

    
}
.Card img{
width: 280px;
height: 222px;
}
.Card p{
    text-align: center;
    line-height: 0px;
}
.Card input{
    border-radius: 24px;
    background-color: #F9C06A;
    padding: 10px 10px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    margin-left: 90px;
    margin-top: -22px;
}
#head-l{
color: #603809;
font-family: Playfair Display;
font-size: 22px;
font-weight: 800px;
}
#middle-l{
    margin-top: -10px;
}
#tail-l{
color: #603809;
font-family: Playfair Display;
font-size: 18px;
font-weight: 700px;
 margin-top: -10px;
}
#mid-h2, #mid-p{
    text-align: center;
    margin-top: 20px;
}
#mid-h2{
    margin-top: 90px;
    font-size: 54px;
    color: #603809;
    /* margin-bottom: -50px; */
}
#mid-p{
    font-size: 20px;
    color: #707070;
    margin-bottom: -210px;
}
.card-2{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 90px;
    margin-top: 50px;
}
#inner-card{
    width: 280px;
    height: 290px;
    border: 1px solid #F9C06A;
    background-color: #FFF9F1;
    text-align: center;
    padding: 40px 0px;
    transition: transform 2s;
}
#inner-card:hover{
    transform: rotateY(180deg);
}
#inner-card p{
    margin-top: -30px;
    font-family: Playfair Display;
font-size: 20px;
font-weight: 400px;
text-align: center;
}
#inner-card h2{
    font-family: Playfair Display;
font-size: 28px;
font-weight: 700px;
color: #603809;
}
#beans-flipped{
    float: right;
}
#seperate{
    background-color: #FFEED8;
    border: none;
    width: 280px;
    height: 290px;
    background-color: #FFF9F1;
    text-align: center;
    padding: 40px 0px;
    transition: transform 2s;
}
#seperate:hover{
    transform: rotateY(180deg);
}   
#seperate p{
margin-top: -30px;
font-family: Playfair Display;
font-size: 20px;
font-weight: 400px;
text-align: center;   
}
#seperate h2{
font-family: Playfair Display;
font-size: 28px;
font-weight: 700px;
color: #603809;
}
#take-a, #take-b{
    text-align: center;
}
#take-a{
font-family: Playfair Display;
font-size: 20px;
font-weight: 400;
line-height: 26.66px;
color: #707070;
margin-top: 25px;
}
#take-b{
font-family: Playfair Display;
font-size: 30px;
font-weight: 700;
line-height: 39.99px;
color: #603809;
}
#join{
    border-radius: 24px;
    background-color: #F9C06A;
    padding: 10px 30px;
    border: none;
    font-weight: 700px;
    margin-left: 620px;
    margin-top: 20px;
    font-size: 16px;
}
.coffee-container{
    background-image: url(./image/Group\ 36.png);
    background-size: cover;
    height: 574px;
    margin-top: 50px;
}
.coffee-container pre{
    margin-left: 120px;
}
.coffee-container pre h2{
    font-size: 52px;
    color: white;
}
.coffee-container pre p{
    font-size: 20px;
    color: white;
    line-height: 34px;
}
#order-now{
    margin-left: 120px;
    border-radius: 24px;
    background-color: #F9C06A;
    padding: 10px 30px;
    border: none;
    font-weight: 700px;
    margin-top: 20px;
    font-size: 16px;
    width: 150px;
}
#coffee-bean{
    margin-left: 797px;
    width: 550px;
    margin-top: -510px;
}
#cup{
    width: 300px;
    margin-left: 750px;
    margin-top: -400px;
    position: absolute;
    z-index: 1;
}
span{
    font-size: 220px;
}
#our, #has{
    text-align: center;
}
#our{
    font-family: Playfair Display;
font-size: 54px;
font-weight: 700px;
line-height: 71.98px;
color: #603809;
margin-top: 50px;
}
#has{
font-family: Playfair Display;
font-size: 20px;
font-weight: 400px;
line-height: 34px;
}
.quoted-text p{
    color: #707070;
    margin-top: 50px;
    margin-left: 20px;
    line-height: 36px;
}
#left{
    margin-left:770px;
    margin-top: -110px;
    display: block;
}
#right{
    margin-left: -120px;
    margin-top: -130px;
    display: block;
}
body{
}
.quoted-text #quote{
    margin-top: 30px;
}
.quoted-text{
    width: 900px;
    height: 524px;
    margin-top: 50px;
    border: 1px solid #F9C06A;
    background-color: #FFF9F1;
    margin-left: 193px;
    padding: 20px 80px;
}
.quoted-text h2, .quoted-text p{
    text-align: center;
    line-height: 35px;
}
.quoted-text h2{
    margin-top: 40px;
    color: #603809;
}
#jonny{
    margin-left: 300px;
    margin-top: 20px;
}
#coffe-blast-2{
    margin-left: -275px;
    margin-top: -270px;
    display: block;
}
#subscribe{
background-image: url(./image/Group\ 36.png);
background-size: cover;
height: 400px;
align-items: center;
margin-top: 200px;
padding-top: 25px;

}
#wing-2{
    margin-left: 1060px;
    margin-top: 120px;
}
#wing-1{
    margin-top: 120px;
}
#wing-1, #wing-2{ 
    /* z-index: 1; */
    position: absolute;
    
}
#subscribe h2{
font-size: 54px;
font-weight: 700px;
line-height: 90.98px;
color: white;
text-align: center;
margin-top: 90px;
}
#subscribe p{
font-size: 20px;
font-weight: 400px;
line-height: 64px;
color: white;
text-align: center;
}
.bottom{
    margin-top: 150px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 654px;
    margin-left: 350px;
    border-radius: 5px;
}

.email-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    flex: 1;
    border-right: none;
}

.subscribe-button {
    padding: 11px 20px;
    margin-left: -20px;
    border: none;
    background-color: #F9C06A;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.subscribe-button:hover {
    background-color: #0056b3;
}
footer{
    display: flex;
    background-color: #603809;
    background-image: url(./image/fotter_image.png);
    background-image: (to bottom, rgb(96, 56, 9), rgb(96, 55, 9));
    background-size: cover;
    height: 508px;
}
footer ul{
    list-style: none;
    margin-top: 100px; 
    color: white;
    margin-left: 60px;

}
footer ul li{
    line-height: 42px;
}
#first-ul{
    margin-left: 90px;
}
footer pre{
    margin-top: 70px;
    margin-left: 90px;
    max-width: 380px;  
    color: white; 
}
footer pre p{
    line-height: 22px;
}
footer i{
    margin-left: 20px;
    color: white;
}
#book{
    margin-left: -2px;
}
#bs{
font-family: Clicker Script;
font-size: 50px;
font-weight: none;
margin-top: 20px;
}
#first-l{
    font-size: 26px;
}
#second-l{
    margin-top: 30px;
}
@media screen and (max-width: 320px){
nav{
    width: 320px;
    height: 86px;
}
nav ul{
    line-height: 0px;
}
    nav ul li a{
        display: none;
    }
    #Bean{
        display: inline-block;
        margin-left: 0px;
    }
body{
    overflow-x: hidden;
}
.menu-icon{
    display: inline-block;
    color: white;
    margin-left: 80px; 
    margin-top: -100px;
}
#first-pre{
    margin-left: 0px;
}
#coffee{
    font-size: 110px;
}
header{
    height: 510px;
    width: 320px;
}
#pre-p{
    font-size: 12px;
}
p{
    font-size: 12px;
}
#discover{
    margin-left:0px;
    font-size: 27px;
    font-weight: 700px;
    line-height: 51.98px;
    margin-top: 50px;
}
#bean{
    font-size: 11px;
    margin-left: 0px;

}
#bean-bag{
    display: block;
    margin-left: 0px;
    margin-top: -330px;
    width: 290px;
}
#learn{
 margin-top: 230px;
}
#bland{
    width: 300px;
}
#blend{
    font-size: 27px;
    line-height: 40px;
}
#sub-blend{
    line-height: 40px;
    font-size: 18px;
}
.Cards{
    display: block;
    padding-left: 0px;
    margin-left: 15px;
}
.Card{
    margin-bottom: 50px;
    width: 282px;
}
#mid-h2{
    font-size: 27px;   
}
#mid-p{
    font-size: 18px;
}
#beans-flipped{
    margin-top: 120px;
}
.card-2{
    display: block;
    margin-left: 15px;
}
#seperate{
    display: block;
    margin-top: 450px; 
    margin-bottom: 40px;
}
#inner-card{
    margin-bottom: 40px;
}
#take-a{
    font-size: 18px;
}
.coffee-container{
    width: 320px;
    height: 400px;
}
.coffee-container pre{
    margin-left: 10px;
}
.coffee-container pre h2{
    font-size: 25px;
}
.coffee-container pre p{
    font-size: 15px;
    margin-top: -30px;
}
#order-now{
    margin-left: 80px;
}
#our{
    font-size: 30px;
    line-height: 50px;
}
#has{
    font-size: 15px;
}
.quoted-text{
    width: 300px;
    height: 524px;
    margin-left: 10px;
    padding: 20px 20px;
}
.quoted-text p{
    color: #707070;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 36px;
}
#left{
    margin-left: 250px;
    margin-top: -150px;
    width: 41px;
    display: none;
}
#right{
    margin-left: -30px;
    margin-top: -220px;
    width: 41px;
    display: none;
}
#join{
    margin-left: 80px;
}
#cup{
    width: 130px;
    margin-left: 130px;
    line-height: 150px;
    display: none;
}
#coffee-bean{
    display: none;
}
#quote{
    width: 42px;
}
#jonny{
    width: 68px;
    margin-left: 100px;
    margin-top: -6px;
}
#coffe-blast-2{
    width: 194px;
    margin-left: -29px;
    margin-top: 10px;
}
.quoted-text h2{
    margin-top: -3px;
}
#c3{
    margin-top: -6px;
}
#wing-1{
    margin-left: 0px;
    width: 130px;
    margin-top: 190px;
    display: flex;

}
#wing-2{
    margin-left: 195px;
    width: 125px;
    margin-top: 190px;
    display: flex;
}
#subscribe{
    padding-top: 0px;
}
#subscribe h2{
    font-size: 20px;
}
#subscribe p{
font-size: 15px;
line-height: 32px;
}
.subscribe-form{
width: 270px;
margin-left: 10px;
}
footer pre{
    margin-left: 0px;
}
footer{
    display: flex;
    width: 320px;
    height: 1400px;
}
footer ul{
    display: block;
    margin-left: 0px;
    margin-top: 350px;
    
}
#first-ul{
    margin-left: -350px;
    display: block;
    font-size: 18px;
    
}
footer ul li{
    font-size: 10px;
    margin-left: 130px;

}
#first-ul #first-l{
    font-size: 42px;
    text-align: center;
    margin-left: 70px;
    line-height: 70px;
}
#first-ul li{
    margin-left: 130px;
    font-size: 20px;
}
#second-l{
    margin-top: -5px;
}
#second-ul{
    margin-top: 700px;
    margin-left: -330px;

}
#second-ul #first-l{
    font-size: 42px;
    line-height: 70px;

}
#second-ul li{
    font-size: 20px;
    margin-left: 150px;
    text-align: center;
}
#third-ul{
    margin-top: 1000px;
    margin-left: -290px;
}
#third-ul #first-l{
    font-size: 38px;
}
#third-ul li{
    font-size: 15px;   
}
.menu-icon{
    margin-top: -50px;
    display: block;
    margin-left: 270px;
    font-size: 30px;
}
}
@media (min-width: 321px) and (max-width: 375px) {
    header{
        width: max-content;
    }
    nav ul li a{
        display: none; 
}
#Bean{
    display: inline-block;
    margin-left: 0px;
}
body{
    overflow-x: hidden;
}
.menu-icon{
    margin-top: -70px;
    display: block;
    margin-left: 305px;
    font-size: 40px;
    color: white;
}
nav{
    height: 86px;
}
#first-pre{
    margin-left: 30px;
}
#coffee{
    font-size: 110px;
}
header{
    height: 510px;
    width: 375px;
}
#pre-p{
    font-size: 12px;
}
p{
    font-size: 12px;
}
#discover{
    margin-left: 30px;
    font-size: 27px;
    font-weight: 700px;
    line-height: 51.98px;
    margin-top: 50px;
}
#bean{
    font-size: 11px;
    margin-left: 30px;

}
#bean-bag{
    display: block;
    margin-left: 0px;
    margin-top: -330px;
    width: 290px;
}
#learn{
 margin-top: 230px;
}
#bland{
    width: 300px;
}
#blend{
    font-size: 27px;
    line-height: 40px;
}
#sub-blend{
    line-height: 40px;
    font-size: 18px;
}
.Cards{
    display: block;
    padding-left: 0px;
    margin-left: 25px;
}
.Card{
    margin-bottom: 50px;
    width: 282px;
}
#mid-h2{
    font-size: 27px;   
}
#mid-p{
    font-size: 18px;
}
#beans-flipped{
    margin-top: 120px;
}
.card-2{
    display: block;
    margin-left: 25px;
}
#seperate{
    display: block;
    margin-top: 450px; 
    margin-bottom: 40px;
}
#inner-card{
    margin-bottom: 40px;
}
#take-a{
    font-size: 18px;
}
.coffee-container{
    width: 375px;
    height: 400px;
}
.coffee-container pre{
    margin-left: 30px;
}
.coffee-container pre h2{
    font-size: 25px;
}
.coffee-container pre p{
    font-size: 15px;
    margin-top: -30px;
}
#order-now{
    margin-left: 80px;
}
#our{
    font-size: 30px;
    line-height: 50px;
}
#has{
    font-size: 15px;
}
.quoted-text{
    width: 300px;
    height: 524px;
    margin-left: 30px;
    padding: 20px 20px;
}
.quoted-text p{
    color: #707070;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 36px;
}
#left{
    margin-left: 250px;
    margin-top: -150px;
    width: 41px;
    display: none;
}
#right{
    margin-left: -30px;
    margin-top: -220px;
    width: 41px;
    display: none;
}
#join{
    margin-left: 80px;
}
#cup{
    width: 130px;
    margin-left: 130px;
    line-height: 150px;
    display: none;
}
#coffee-bean{
    display: none;
}
#quote{
    width: 42px;
}
#jonny{
    width: 68px;
    margin-left: 100px;
    margin-top: -6px;
}
#coffe-blast-2{
    width: 194px;
    margin-left: -50px;
    margin-top: 10px;
}
.quoted-text h2{
    margin-top: -3px;
}
#c3{
    margin-top: -6px;
}
#wing-1{
    margin-left: 0px;
    width: 130px;
    margin-top: 190px;
    display: flex;

}
#wing-2{
    margin-left: 250px;
    width: 125px;
    margin-top: 190px;
    display: flex;
}
#subscribe{
    padding-top: 0px;
}
#subscribe h2{
    font-size: 20px;
}
#subscribe p{
font-size: 15px;
line-height: 32px;
}
.subscribe-form{
width: 270px;
margin-left: 30px;
}
footer pre{
    margin-left: 30px;
}
footer{
    display: flex;
    width: 375px;
    height: 1400px;
}
footer ul{
    display: block;
    margin-left: 0px;
    margin-top: 350px;
    
}
#first-ul{
    margin-left: -350px;
    display: block;
    font-size: 18px;
    
}
footer ul li{
    font-size: 10px;
    margin-left: 130px;

}
#first-ul #first-l{
    font-size: 42px;
    text-align: center;
    margin-left: 70px;
    line-height: 70px;
}
#first-ul li{
    margin-left: 130px;
    font-size: 20px;
}
#second-l{
    margin-top: -5px;
}
#second-ul{
    margin-top: 700px;
    margin-left: -330px;

}
#second-ul #first-l{
    font-size: 42px;
    line-height: 70px;

}
#second-ul li{
    font-size: 20px;
    margin-left: 150px;
    text-align: center;
}
#third-ul{
    margin-top: 1000px;
    margin-left: -290px;
}
#third-ul #first-l{
    font-size: 38px;
}
#third-ul li{
    font-size: 15px;   
}
}

@media (min-width: 376px) and (max-width: 425px){
    header{
        width: max-content;
    }
    nav ul li a{
        display: none; 
}
#Bean{
    display: inline-block;
    margin-left: 0px;
}
body{
    overflow-x: hidden;
}
.menu-icon{
    margin-top: -90px;
    display: block;
    margin-left: 385px;
    font-size: 40px;
    color: white;
}
nav{
    height: 86px;
    width: 425px;
}
#first-pre{
    margin-left: 40px;
}
#coffee{
    font-size: 110px;
}
header{
    height: 510px;
    width: 425px;
}
#pre-p{
    font-size: 12px;
}
p{
    font-size: 12px;
}
#discover{
    margin-left: 40px;
    font-size: 27px;
    font-weight: 700px;
    line-height: 51.98px;
    margin-top: 50px;
}
#bean{
    font-size: 13px;
    margin-left: 40px;

}
#bean-bag{
    display: block;
    margin-left: 45px;
    margin-top: -330px;
    width: 290px;
}
#learn{
 margin-top: 230px;
 margin-left: 165px;
}
#bland{
    width: 300px;
}
#blend{
    font-size: 27px;
    line-height: 40px;
}
#sub-blend{
    line-height: 40px;
    font-size: 18px;
}
.Cards{
    display: block;
    padding-left: 0px;
    margin-left: 75px;
}
.Card{
    margin-bottom: 50px;
    width: 282px;
}
#mid-h2{
    font-size: 27px;   
}
#mid-p{
    font-size: 18px;
}
#beans-flipped{
    margin-top: 120px;
}
.card-2{
    display: block;
    margin-left: 75px;
}
#seperate{
    display: block;
    margin-top: 450px; 
    margin-bottom: 40px;
}
#inner-card{
    margin-bottom: 40px;
}
#take-a{
    font-size: 18px;
}
.coffee-container{
    width: 425px;
    height: 400px;
}
.coffee-container pre{
    margin-left: 70px;
}
.coffee-container pre h2{
    font-size: 25px;
}
.coffee-container pre p{
    font-size: 15px;
    margin-top: -30px;
}
#order-now{
    margin-left: 150px;
}
#our{
    font-size: 30px;
    line-height: 50px;
}
#has{
    font-size: 15px;
}
.quoted-text{
    width: 300px;
    height: 524px;
    margin-left: 70px;
    padding: 20px 20px;
}
.quoted-text p{
    color: #707070;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 36px;
}
#left{
    margin-left: 250px;
    margin-top: -150px;
    width: 41px;
    display: none;
}
#right{
    margin-left: -30px;
    margin-top: -220px;
    width: 41px;
    display: none;
}
#join{
    margin-left: 170px;
}
#cup{
    width: 130px;
    margin-left: 130px;
    line-height: 150px;
    display: none;
}
#coffee-bean{
    display: none;
}
#quote{
    width: 42px;
}
#jonny{
    width: 68px;
    margin-left: 100px;
    margin-top: -6px;
}
#coffe-blast-2{
    width: 194px;
    margin-left: -90px;
    margin-top: 10px;
}
.quoted-text h2{
    margin-top: -3px;
}
#c3{
    margin-top: -6px;
}
#wing-1{
    margin-left: 0px;
    width: 130px;
    margin-top: 190px;
    display: flex;

}
#wing-2{
    margin-left: 300px;
    width: 125px;
    margin-top: 190px;
    display: flex;
}
#subscribe{
    padding-top: 0px;
}
#subscribe h2{
    font-size: 20px;
}
#subscribe p{
font-size: 15px;
line-height: 32px;
}
.subscribe-form{
width: 300px;
margin-left: 50px;
}
footer pre{
    margin-left: 70px;
}
footer{
    display: flex;
    width: 425px;
    height: 1400px;
}
footer ul{
    display: block;
    margin-left: 0px;
    margin-top: 350px;
    
}
#first-ul{
    margin-left: -350px;
    display: block;
    font-size: 18px;
    
}
footer ul li{
    font-size: 10px;
    margin-left: 100px;

}
#first-ul #first-l{
    font-size: 42px;
    text-align: center;
    margin-left: 70px;
    line-height: 70px;
}
#first-ul li{
    margin-left: 130px;
    font-size: 20px;
}
#second-l{
    margin-top: -5px;
}
#second-ul{
    margin-top: 700px;
    margin-left: -330px;

}
#second-ul #first-l{
    font-size: 42px;
    line-height: 70px;

}
#second-ul li{
    font-size: 20px;
    margin-left: 150px;
    text-align: center;
}
#third-ul{
    margin-top: 1000px;
    margin-left: -290px;
}
#third-ul #first-l{
    font-size: 38px;
}
#third-ul li{
    font-size: 15px;   
}    
}
@media (min-width:426px) and (max-width:768px)