*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
ul li:first-child {
    font-family: Clicker Script;
    margin-left: 120px;
    font-size: 35px;

}
ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 15px;
    font-family: Playfair Display;
}
ul li a{
color: white;
}
ul li:nth-child(2){
    margin-left: 190px;
}
ul li:nth-child(6){
    margin-left: 250px;
}
ul li:last-child a:last-child{
padding: 15px 20px;
background-color: #F9C06A;
border-radius: 24px;
}
header{
    height: 800px;
    background-image: url(./image/coffee_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
pre{
    margin-top: 80px;
}
pre p{
    font-size: 22px;
    color: white;
    font-family:Playfair Display;
    margin-left: 120px;
}
pre p:nth-child(2){
    font-family: Clicker Script;
    font-size: 220px;
}
pre p:last-child{
    line-height: 34px;
}
/* style input*/
#order{
padding: 15px 20px;
background-color: #F9C06A;
border-radius: 24px;
outline: none;
border: none;
margin-left: 120px;
font-family:Playfair Display;
font-size: 16px;
font-weight: 700;
}
#learn{
padding: 15px 20px;
background-color: #F9C06A;
border-radius: 24px;
outline: none;
border: none;
margin-left: 120px;
font-family:Playfair Display;
font-size: 16px;
font-weight: 700;
}
#discover{
font-family: Playfair Display;
font-size: 54px;
font-weight: 700px;
line-height: 71.98px;
color: #603809;
margin-top: 150px;
}
main pre p:nth-child(2){
    font-family: Playfair Display;
    line-height: 34px;
    font-weight: 400px;
    font-size: 20px;
    color: #707070;
}
main{
    background-color: white;
    margin-top: -80px;
}
#coffee{
    margin-left: 750px;
    margin-top: -430px;
    display: flex;
}
main input{
    
}
#blend{
font-size: 54px;
font-weight: 700px;
color: #603809;
font-family: Playfair Display;
line-height: 71.98px;
text-align:center; 
}
#sub-blend{
    font-size: 20px;
    font-weight: 400px;
    color: #707070;
    font-family: Playfair Display;
    line-height: 71.98px;  
    text-align:center; 
}
.Cards{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
}
.Cards img{
    width: 150px;
}
.Cards .container pre p{
    font-size: 9px;
    margin-top: 0px;
}
.Card{
width: 40%;
}
.container {
    margin: 0px;
    /* padding: 2px 16px; */
}